@model AspNetBlog.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post_Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post_Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Post_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


<div class="carousel w-full">
    <div id="slide1" class="carousel-item relative w-full">
        <img src="https://i.ytimg.com/vi/TJI0tvM5iRM/maxresdefault.jpg" class="w-full object-cover" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide4" class="btn btn-circle">❮</a> 
            <a href="#slide2" class="btn btn-circle">❯</a>
        </div>
    </div> 
    <div id="slide2" class="carousel-item relative w-full">
        <img src="https://i.natgeofe.com/n/2a832501-483e-422f-985c-0e93757b7d84/6_3x2.jpg" class="w-full object-cover" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide1" class="btn btn-circle">❮</a> 
            <a href="#slide3" class="btn btn-circle">❯</a>
        </div>
    </div> 
    <div id="slide3" class="carousel-item relative w-full">
        <img src="https://i.ytimg.com/vi/PKRdYnXoazs/sddefault.jpg" class="w-full object-cover" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide2" class="btn btn-circle">❮</a> 
            <a href="#slide4" class="btn btn-circle">❯</a>
        </div>
    </div> 
    <div id="slide4" class="carousel-item relative w-full">
        <img src="https://arena.rtp.pt/wp-content/uploads/2022/10/amouranth-e1665956158764.png" class="w-full object-cover" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide3" class="btn btn-circle">❮</a> 
            <a href="#slide1" class="btn btn-circle">❯</a>
        </div>
    </div>
</div>


<div>
    <input type="file" class="file-input file-input-bordered file-input-success w-full max-w-xs" />

</div>


<style>
    .carousel{
        height: 450px;
        }
       
</style>