@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using System.Security.Claims
@model AspNetBlog.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container mx-auto">
    <h1 class="text-4xl font-extrabold leading-none tracking-tight text-center text-theme-text dark:text-theme-text-reversed md:text-5xl lg:text-6xl">
        @Html.DisplayFor(model => model.Post.Post_Title)
    </h1>
    
    <div class="max-w-full mx-auto mt-8 flex justify-center">
        @if (User.IsInRole("Admin") && Model.Post != null && Model.Post.CreatedBy != null && User.Identity.Name == Model.Post.CreatedBy.UserName)
        {
            <a class="btn btn-outline btn-accent" asp-action="Edit" asp-route-id="@Model.Post.Post_Id">Edit</a>
        }
    </div>

    <div class="carousel-container max-w-4xl mx-auto my-8">
        <div class="carousel mx-auto max-h-64 overflow-hidden">
            @for (var i = 0; i < Model.PostImages.Count; i++)
            {
                var image = Model.PostImages[i];
                var itemId = $"item{i + 1}";

                <div id="@itemId" class="carousel-item relative w-full">
                    <img src="@image.Image_Path" class="w-full h-full object-cover rounded-box" />

                    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                        @if (i == 0)
                        {
                            <a href="#item@Model.PostImages.Count" class="btn btn-circle">❮</a>
                            <a href="#item@(i + 2)" class="btn btn-circle">❯</a>
                        }
                        else if (i == Model.PostImages.Count - 1)
                        {
                            <a href="#item@(i)" class="btn btn-circle">❮</a>
                            <a href="#item1" class="btn btn-circle">❯</a>
                        }
                        else
                        {
                            <a href="#item@(i)" class="btn btn-circle">❮</a>
                            <a href="#item@(i + 2)" class="btn btn-circle">❯</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="flex flex-col lg:flex-row lg:space-x-12">
        <!-- Left Column -->
        <div class="px-4 lg:px-0 mt-12 text-lg leading-relaxed w-full lg:w-3/4">
            <p class="pb-6">@Html.DisplayFor(model => model.Post.Post_Content)</p>
        </div>

        <!-- Right Column -->
        <div class="w-full lg:w-1/4 m-auto mt-12 max-w-screen-sm">
            <div class="p-4 border-t border-b md:border md:rounded">
                <div class="flex py-2 items-center justify-center">
                    @{
                        string userPicture = Model.Post?.CreatedBy?.ProfilePictureUrl ?? "Default_pfp.svg.png";
                    }
                    <img src="/images/UserPictures/@userPicture" class="h-10 w-10 rounded-full mr-2 object-cover" />
                    <div>
                        <p class="font-semibold text-sm">@Html.DisplayFor(model => model.Post.CreatedBy.personalUserName)</p>
                    </div>
                </div>

                <p class="py-3">
                    @Html.DisplayFor(model => model.Post.CreatedBy.Description)
                </p>

                @if (Model != null && Model.Post != null && Model.Post.CreatedBy != null)
                {
                    <form asp-action="Details">
                        <button asp-controller="UserProfile" asp-action="Details" asp-route-id="@Model.Post.CreatedBy.Id"
                                class="px-2 py-1 text-theme-text bg-theme-bg dark:bg-theme-bg-reversed flex w-full items-center justify-center rounded">
                            Visit Profile
                        </button>
                    </form>
                }
                else
                {
                    <p>User Profile was Deleted</p>
                }
            </div>
        </div>
    </div>

    <!-- Likes Section -->
    <div class="mt-8">
        <div class="stats stats-vertical lg:stats-horizontal shadow">
          
          <div class="stat">
            <div class="stat-title">Views</div>
            <div class="stat-value">@Model.PostUserViews</div>
          </div>
          
          <div class="stat">
            <div class="stat-title">Likes</div>
            <div class="stat-value">@Model.PostUserLikes.Count()</div>
          </div>
            
        </div>

        @if (User.Identity.IsAuthenticated)
        {

            @if (Model.PostUserLikes.Any(pul => pul.User.Id == User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
            {
                @await Html.PartialAsync("~/Views/Post_User_Likes/Delete.cshtml", new Post_User_Likes()
                       {
                           Post = Model.Post
                       })
            }
            else
            {
                @await Html.PartialAsync("~/Views/Post_User_Likes/Create.cshtml", new Post_User_Likes()
                       {
                           Post = Model.Post
                       })
            }
        }
        else
        {
            <a class="btn" asp-area="Identity" asp-page="/Account/Login">Please login to like this post.</a>
        }
    </div>

</div>

<section class="py-8 lg:py-16 antialiased bg-theme-bg dark:bg-theme-bg-reversed">
    <div class="max-w-2xl mx-auto px-4">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-theme-text dark:text-theme-text-reversed">
                Discussion (@Model.PostUserComments.Count())
            </h2>
        </div>

        <!-- Comment Section -->
        <div class="comment-section">
            @await Html.PartialAsync("~/Views/Post_User_Comments/Create.cshtml", new Post_User_Comments()
            {
                Post = Model.Post
            })
        </div>

        <!-- Display Comments -->
        <div>
            @await Html.PartialAsync("~/Views/Post_User_Comments/Index.cshtml", Model.PostUserComments)

        </div>
    </div>
</section>

@if (!string.IsNullOrEmpty(ViewBag.CommentAnchor))
{
    <script>
        document.querySelector("#@ViewBag.CommentAnchor").scrollIntoView();
    </script>
}