@model AspNetBlog.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white flex justify-center">@Html.DisplayNameFor(model => model.Post.Post_Title)</h1>

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Post_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Post_Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Post_Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Post_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Post_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.UpdatedAt)
        </dd>
        
        <dd class="col-sm-10">
            @foreach (var image in Model.PostImages)
            {
                <img src="@image.Image_Path" alt="Image">
            }
        </dd>
        
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Post.Post_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
