@model AspNetBlog.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white flex justify-center">@Html.DisplayNameFor(model => model.Post.Post_Title)</h1>

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    
    <div class="carousel w-full"> 
        @for (var i = 0; i < Model.PostImages.Count; i++)
        {
            var image = Model.PostImages[i];
            var itemId = $"item{i + 1}";
            <div id="@itemId" class="carousel-item w-full">
                <img src="@image.Image_Path" class="w-full" />
            </div>
        }
    </div>
    
    <div class="flex justify-center w-full py-2 gap-2">
        @for (var i = 0; i < Model.PostImages.Count; i++)
        {
            var itemId = $"item{i + 1}";
            <a href="#@itemId" class="btn btn-xs">@i + 1</a>
        }
    </div>

    
    
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Post_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Post_Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Post_Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Post_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Post_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.UpdatedAt)
        </dd>
        
        <dd class="col-sm-10">
            @foreach (var image in Model.PostImages)
            {
                <img src="@image.Image_Path" alt="Image">
            }
        </dd>
        
        
    </dl>
</div>

<hr />
<section class=" py-8 lg:py-16 antialiased">
    <div class="max-w-2xl mx-auto px-4">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion (20)</h2>
        </div>
        <div class="comment-section">
            @await Html.PartialAsync("~/Views/Post_User_Comments/Create.cshtml", new AspNetBlog.Models.Post_User_Comments())
        </div>
        <article class="p-6 text-base rounded-lg">
            <footer class="flex justify-between items-center mb-2">
                <div class="flex items-center">
                    <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><img
                            class="mr-2 w-6 h-6 rounded-full"
                            src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                            alt="Michael Gough">Michael Gough</p>
                    <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-08"
                            title="February 8th, 2022">Feb. 8, 2022</time></p>
                </div>
                <button id="dropdownComment1Button" data-dropdown-toggle="dropdownComment1"
                    class="btn btn-secondary"
                    type="button">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                        <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                    </svg>
                    <span class="sr-only">Comment settings</span>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdownComment1"
                    class="dropdown">
                    <ul class="dropdown-content">
                        <li>
                            <a href="#"
                                class="hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                        </li>
                    </ul>
                </div>
            </footer>
            <p class="text-gray-500 dark:text-gray-400">Very straight-to-point article. Really worth time reading. Thank you! But tools are just the
                instruments for the UX designers. The knowledge of the design tools are as important as the
                creation of the design strategy.</p>
            <div class="flex items-center mt-4 space-x-4">
                <button type="button"
                    class="btn btn-link">
                    <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                    </svg>
                    Reply
                </button>
            </div>
        </article>
        <!-- Repeat the article structure for other comments -->
    </div>
</section>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Post.Post_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
