@model AspNetBlog.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post.Post_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.Post_Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.Post_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.UpdatedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Posts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Post_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post_Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Post_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Post_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Post_Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<section>
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:pb-16 lg:px-8"
  >
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-3xl font-bold sm:text-4xl">All Posts</h2>

      <p class="mt-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
        aliquam doloribus nesciunt eos fugiat. Vitae aperiam fugit consequuntur
        saepe laborum.
      </p>
    </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-10">
          @foreach (var post in Model.Posts)
          {

              var postImages = Model.PostImages.FirstOrDefault(x => x.Post.Post_Id == post.Post_Id);
              var postImage = postImages != null ? postImages.Image_Path : "https://4.bp.blogspot.com/-O-NlH2uUFCU/VpDU7pAsXdI/AAAAAAAADK4/gyJgzaqshXs/s1600/log-defaultbrush.jpg";

              <article class="flex transition hover:shadow-xl relative">
                  <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
                      <time
                          datetime="2022-10-10"
                          class="flex items-center justify-between gap-4 text-xs font-bold uppercase">
                          <span>@Html.DisplayFor(modelItem => post.CreatedAt.Year)</span>
                          <span class="w-px flex-1"></span>
                          <span>@post.CreatedAt.ToString("MMM dd")</span>
                      </time>
                  </div>

                  <div class="hidden sm:block sm:basis-56">
                      <img
                          class="w-full h-40 object-cover sm:object-center"
                          alt="@post.Post_Title"
                          src="@postImage" />
                  </div>

                  <div class="flex flex-1 flex-col justify-between relative">
                      @if (User.IsInRole("Admin"))
                      {
                          <div class="absolute top-2 right-2 cursor-pointer text-red-500 hover:text-gray-700">
                              <svg onclick="@("modal"+ post.Post_Id).showModal()" class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>
                          </div>
                          <dialog id="@("modal"+ post.Post_Id)" class="modal">
                              <div class="modal-box">
                                  <h3 class="font-bold text-lg">Delete this Post?</h3>
                                  <p class="py-4">Press no to cancel</p>
                                  <div class="modal-action">
                                    <form asp-action="Delete">
                                        <!-- if there is a button in form, it will close the modal -->
                                        <button asp-action="Delete" asp-route-id="@post.Post_Id" asp-controller="Posts" class="btn">Yes</button>
                                        @Html.HiddenFor(model => model.Post.Post_Id)
                                    </form>
                                    <form method="dialog">
                                        <!-- if there is a button in form, it will close the modal -->
                                        <button class="btn">No</button>
                                    </form>
                                  </div>
                                </div>
                          </dialog>
                      }
                  
                      <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
                          <a href="#">
                              <h3 class="font-bold uppercase">
                                  @Html.DisplayFor(modelItem => post.Post_Title)
                              </h3>
                          </a>

                          <div class="mt-2 line-clamp-3 text-sm/relaxed break-all">
                              @Html.DisplayFor(modelItem => post.Post_Content)
                          </div>
                      </div>

                      <div class="sm:flex sm:items-end sm:justify-end">
                          <a asp-action="Details" asp-route-id="@post.Post_Id"
                             class="block bg-primary px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-accent">
                              Read Post
                          </a>
                      </div>
                  </div>
              </article>

          }
      </div>
  </div>

</section>
