@model IEnumerable<AspNetBlog.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post_Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Post_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post_Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Post_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Post_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Post_Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<section>
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8"
  >
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-3xl font-bold sm:text-4xl">All Posts</h2>

      <p class="mt-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
        aliquam doloribus nesciunt eos fugiat. Vitae aperiam fugit consequuntur
        saepe laborum.
      </p>
    </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-10">
      @foreach (var item in Model) {
          <article class="flex transition hover:shadow-xl">
              <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
                  <time
                      datetime="2022-10-10"
                      class="flex items-center justify-between gap-4 text-xs font-bold uppercase"
                  >
                      <span>@Html.DisplayFor(modelItem => item.CreatedAt.Year)</span>
                      <span class="w-px flex-1"></span>
                      <span>@item.CreatedAt.ToString("MMM dd")</span>
                  </time>
              </div>
    
              <div class="hidden sm:block sm:basis-56">
                  <img
                      alt="Guitar"
                      src="https://images.unsplash.com/photo-1609557927087-f9cf8e88de18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                      class="aspect-square h-full w-full object-cover"
                  />
              </div>
    
              <div class="flex flex-1 flex-col justify-between">
                  <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
                      <a href="#">
                          <h3 class="font-bold uppercase">
                              @Html.DisplayFor(modelItem => item.Post_Title)
                          </h3>
                      </a>
    
                      <div class="mt-2 line-clamp-3 text-sm/relaxed break-all">
                          @Html.DisplayFor(modelItem => item.Post_Content)
                      </div>
                  </div>
    
                  <div class="sm:flex sm:items-end sm:justify-end">
                      <a
                          href="#"
                          class="block bg-primary px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-accent"
                      >
                          Read Post
                      </a>
                  </div>
              </div>
          </article>
      }
  </div>
  </div>
</section>
