@model AspNetBlog.ViewModels.BackOfficeViewModel

@{
    ViewData["Title"] = "BackOffice";
}

<h1 class="mb-32 text-4xl text-green-500 font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl flex justify-center" id="pageTitle">@ViewData["Title"]</h1>
   
<div class="overflow-x-auto">
    <table class="table">
        <!-- head -->
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Description</th>
            <th>PhoneNumber</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        @foreach (var user in Model.Users)
        {
            <tbody>
            <tr>
                <td>
                    <div class="flex items-center space-x-3">
                        <div>
                            <div class="font-bold">@user.UserName</div>
                        </div>
                    </div>
                </td>
                <td>
                    @user.Email
                </td>
                <td>@user.Description</td>
                <td>@user.PhoneNumber</td>
                <th>
                    <a class="btn btn-ghost btn-xs" asp-controller="UserProfile" asp-action="Details" asp-route-id="@user.Id">Details</a> 
                </th>
                <th>
              @{
                  var uniqueId = Guid.NewGuid().ToString("N");   
              }
          <a class="btn btn-ghost btn-xs" onclick="@("modal" + uniqueId).showModal()" >Delete</a>
                  <dialog id="@("modal" + uniqueId)" class="modal">
                  <div class="modal-box">
                      <h3 class="font-bold text-lg">Delete this user?</h3>
                      <p class="py-4">Press no to cancel</p>
                      <div class="modal-action">
                          <form asp-controller="BackOffice" asp-action="Delete">
                              <button asp-action="Delete" asp-route-id="@user.Id" asp-controller="BackOffice" class="btn">Yes</button>
                          </form>
                          <form method="dialog">
                              <button class="btn">No</button>
                          </form>
                      </div>
                  </div>
              </dialog>
        </th>
            </tr>
            </tbody>
        }
    </table>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}