@model IEnumerable<AspNetBlog.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="overflow-x-auto">
    <table class="table bg-cyan-200">
        <!-- head -->
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Post_Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post_Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post_Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th></th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Post_Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Post_Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Post_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedBy.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Post_Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Post_Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Post_Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
    </table>
</div>

<div class="container">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        @foreach (var post in Model)
        {
            <div class="bg-white shadow-lg p-4">
                <svg class="placeholder-glow w-full h-40" xmlns="http://www.w3.org/2000/svg"></svg>
                <div class="p-4">
                    <h3 class="text-2xl font-semibold mb-2"> @post.Post_Title</h3>
                    <p class="text-gray-600">@post.Post_Description</p>
                    <div class="flex justify-between items-center mt-4">
                        <div class="btn-group">
                           <a class="btn btn-primary" asp-action="Details" asp-route-id="@post.Post_Id">Details</a> 
                        </div>
                        <small class="text-gray-500">@post.CreatedById</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

